<div class="page-header">
  <h2 class="header-title">Hotels</h2>
  <div class="header-sub-title">
    <nav class="breadcrumb breadcrumb-dash">
      <a href="/" class="breadcrumb-item"><i class="ti-home p-r-5"></i>Home</a>
      <span class="breadcrumb-item active">Types</span>
    </nav>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <%= link_to 'New Hotel Type', new_hotel_type_path, class: "btn btn-gradient-success"%>
    <table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Hotel</th>
    <th>Site</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <% @hotel_types.each do |hotel_type| %>
    <tr>
      <td><%= hotel_type.origin.name %></td>
      <td><%= hotel_type.hotel.name %></td>

      <td><%= hotel_type.site.name %></td>
      <td><%= link_to 'Show', hotel_type %></td>
    </tr>
  <% end %>
  </tbody>
</table>

  </div>
</div>

