<% @hotels.each do |hotel| %>
  <% if hotel.hotel_types.present? %>
    <div class="table-responsive">
      <table class="table top-table">
        <thead class="first-level">
        <tr>
          <th class="row-head">
            <div class="cel-inner">
              <div class="top-title"><span class="collapse-arrow collapse-arrow-down"></span><%= hotel.name %>
                (<%= hotel.city %>)
              </div>
            </div>
          </th>
          <% abbr_months_after_current.each do |month| %>
            <th>
              <div class="cel-inner">
                <div class="top-title-col"><%= month.upcase %></div>
                <div class="sort-wrap">
                  <span class="sort-down inactive"></span>
                  <span class="sort-up"></span>
                </div>
              </div>
            </th>
          <% end %>
          <% abbr_months_before_current.each do |month| %>
            <th>
              <div class="cel-inner">
                <div class="top-title-col"><%= month.upcase %></div>
                <div class="sort-wrap">
                  <span class="sort-down inactive"></span>
                  <span class="sort-up"></span>
                </div>
              </div>
            </th>
          <% end %>
        </tr>
        </thead>

        <tbody class="second-level">
        <% hotel.hotel_sites.each do |hs| %>
          <% mps = hs.month_prices %>
          <% if mps.present? %>
            <tr class="second-level-head">
              <td class="row-head" colspan="13">
                <div class="cel-inner">
                  <div class="second-level-title">
                    <div class="second-level-title__inner">
                      <span class="second-level-title__img"><%= image_tag url_for(hs.site.logo) if hs.site.logo.attached? %></span>
                      <span class="collapse-arrow collapse-arrow-down-black"></span><%= hs.site.name %></div>
                    <a href="<%= hs.hotel.origin_url %>" target="_blank"><span class="second-link-out"></span></a>
                  </div>
                </div>
              </td>

            </tr>
            <tr class="second-level-content">
              <td colspan="13">
                <table class="table inner-table">
                  <tbody>
                  <% hs.hotel_types.each do |ht| %>
                    <% cache ht do %>
                      <% mps = ht.month_prices %>

                      <tr>
                        <td class="row-head">
                          <div class="cel-inner">
                            <div class="inner-title"><%= ht.origin.name %>
                              <a href="<%= hotel_type_url(ht) %>" target="_blank"><span class="second-link-in"></span></a>
                            </div>
                          </div>
                        </td>

                        <% months_after_current.each do |month| %>
                          <% cache month do %>
                          <% origin = ht.origin.month_prices.where(month: month, year: Date.current.year).take %>
                          <% mpss = mps.where(month: month, year: Date.current.year) %>
                          <td>
                            <div class="cel-inner">
                      <span class="top-price price-<%= mpss.take.price_option if mpss.take %>"> <%= price_form(mpss.sum(:price)) %>
              </span>
                              <span class="bottom-price"><%= price_form(((origin.price * 2 * 7) if origin) || 0) %></span>
                            </div>
                          </td>
                        <% end %>
                        <% end %>
                        <% months_before_current.each do |month| %>
                          <% cache month do %>
                      <% mpss = mps.where(month: month, year: Date.current.year) %>
                          <% origin = ht.origin.month_prices.where(month: month, year: Date.current.year).take %>
                          <td>
                            <div class="cel-inner">
                      <span class="top-price price-<%= mpss.take.price_option if mpss.take %>">
                 <%= price_form(mpss.sum(:price)) %>
              </span>
                              <span class="bottom-price"><%= price_form(((origin.price * 2 * 7) if origin) || 0) %></span>
                            </div>
                          </td>
                        <% end %>
                        <% end %>
                      </tr>
                    <% end %>
                  <% end %>
                  </tbody>
                </table>
          <% end %>
          </td>
          </tr>

        <% end %>
        </tbody>

      </table>
    </div>
  <% end %>
<% end %>