<p id="notice"><%= notice %></p>

<p>
  <strong>Hotel:</strong>
  <%= @hotel_site.hotel_id %>
</p>

<p>
  <strong>Site:</strong>
  <%= @hotel_site.site_id %>
</p>

<p>
  <strong>Link:</strong>
  <%= @hotel_site.link %>
</p>

<%= link_to 'Edit', edit_hotel_site_path(@hotel_site) %> |
<%= link_to 'Back', hotel_sites_path %>
