<!DOCTYPE html>
<html>
  <head>
    <title>Trauminsel reisen Dashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
         <!-- New start-->
         <div class="page-wrap">
            <nav>
              <div class="nav-wrapper container d-flex justify-content-between align-items-center">
                <a id="logo-container" href="#" class="brand-logo"><img src="img/Trauminselreisen-Logo-transparent.png"></a>
                <ul class="nav-list">
                  <li class="nav-help" data-toggle="modal" data-target="#helpModal">Help</li>
                  <li class="nav-sort">
                  
                        <select class="nav-sort-select" onchange="window.location.href=this.options[this.selectedIndex].value">
                            <option selected disabled>Sort by date</option>
                            <option  VALUE="?q[hotel_types_year_eq]=2019" >2019</option>
                    
                    </select>
                  </li>
                  <li class="nav-contact"><a href="#">Contact us</a></li>
                </ul>
              </div>
            </nav>
            <!-- New end -->
    <main>
      <div class="container">
          <%= yield %>
        </div>
        
      </main>

              <!-- Modal -->
              <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true"></span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h5 class="modal-title text-center">Help</h5>
                        <div class="help-box d-flex justify-content-start">
                          <div class="help-box-img"><img src="img/icon-link-blue.svg"></div>
                          <div class="help-box-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</div>
                        </div>
                        <div class="help-box d-flex justify-content-start">
                          <div class="help-box-img"><img src="img/icon-link-in.svg"></div>
                          <div class="help-box-text">Tempor incididunt ut labore et dolore magna aliqua. </div>
                        </div>
                        <div class="help-box d-flex justify-content-start">
                          <div class="help-box-img"><img src="img/icon-price-down.svg"></div>
                          <div class="help-box-text">Ut enim ad minim veniam, quis nostrud </div>
                        </div>
                        <div class="help-box d-flex justify-content-start">
                          <div class="help-box-img"><img src="img/icon-price-up.svg"></div>
                          <div class="help-box-text">Ut enim ad minim veniam, quis nostrud </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
      <footer>
          <div class="container">
            <div class="footer-info">2019 Copyrights © <span>HotelPrice</span></div>
          </div>
          <div class="contact-icon"><a href="#"><img src="/img/phone.svg"></a></div>
        </footer>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="/custom.js"></script>
  </body>
</html>
